* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.app-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.app-button-box {
display: flex;
  justify-content: space-between;
  width: 100%;
}

.app-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}